* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

/* BACKGROUND BLUR AREA */
.main-bg {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(120deg, #e0ecff, #c7dbff);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CENTER BOX */
.login-wrapper {
  width: 85%;
  max-width: 1100px;
  height: 80vh;
  background: white;
  border-radius: 20px;
  display: flex;
  overflow: hidden;
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.15);
}

/* LEFT SIDE */
.login-left {
  width: 40%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  color: #2563eb;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}

.login-card h2 {
  margin-bottom: 5px;
}

.subtitle {
  color: #666;
  margin-bottom: 20px;
}

/* INPUT */
.input-group {
  margin-bottom: 15px;
}

.input-group input {
  width: 100%;
  padding: 14px;
  border-radius: 30px;
  border: none;
  background: #2f2f2f;
  color: white;
  outline: none;
}

/* BUTTON */
.login-btn {
  width: 100%;
  padding: 14px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(to right, #2563eb, #3b82f6);
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
}

.login-btn:hover {
  opacity: 0.9;
}

.error {
  color: red;
  margin-bottom: 10px;
}

.register-link {
  margin-top: 15px;
  font-size: 14px;
}

.register-link span {
  color: #2563eb;
  font-weight: bold;
  cursor: pointer;
}

/* RIGHT SIDE IMAGE */
.login-right {
  width: 60%;
  background-size: cover;
  background-position: center;
}
