@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    @apply h-full;
  }

  body {
    @apply m-0 bg-slate-50 text-slate-800 antialiased;
  }
}

@layer base {
  html.dark body {
    @apply bg-slate-950 text-slate-100;
  }
}
